/*CABEÇALHO*/


.titulo{

  padding: 30px;
  color: aliceblue;
  text-align: center;

  font-family:'Do Hyeon', sans-serif;
  font-weight: 600;
  font-size: 60px;





}

nav{
  text-align: center;
}

.cabecalho{
  background-image: linear-gradient(#1E6F5C, #289672, #29BB89 ) ;
  color: aliceblue;
  padding: 20px;
  margin: 0%;


}

.main{
  padding: 200px;
  text-align: center;
}

/* LISTA DE CATEGORIAS*/

#hardware{
display: inline;
border: 3px groove #E6DD3B;
padding: 5px;
background: #E6DD3B;
border-radius: 15px;
transition: all 0.5s;

}

#hardware, #smartphone, #periferico, #computador,
#monitor, #tecladomouse, #homeoffice {
  display: inline-block;
  margin: 0 0 0 15px;
  border: 3px groove #E6DD3B;
  padding: 5px;
  background: #E6DD3B;
  border-radius: 15px;
  transition: all 0.5s;

  font-family: 'Do Hyeon', sans-serif;
  font-weight: 400;
  text-shadow: 2px 1px white;
  font-size: 20px;

  

}

a:link 
{ 
 text-decoration:none; 


}



#hardware:hover{
  border-radius: 40%;
}
#smartphone:hover{
  border-radius: 40%;
}
#periferico:hover{
  border-radius: 40%;
}
#computador:hover{
  border-radius: 40%;
}
#monitor:hover{
  border-radius: 40%;
}
#tecladomouse:hover{
  border-radius: 40%;
}
#homeoffice:hover{
  border-radius: 40%;
}



/*--------------------------*/

/*PÁGINA DE HARDWARE*/

.itenshardware{
  text-align: center;
}
/*----------------------------------->*/


/* RODAPÉ*/

.rodape{
  margin: auto;
  background: rgb(28, 133, 80);
  padding: 20px;
}

#twitter{
height: 15px;
margin-left: -5px;
}

#instagram{
  height: 18px;
}